#contenedor-registro {
    width: 75%;
    margin-top: 5.5em;
}

footer {
    background: #000;
}

.cuerpoindex {
    width: 100%;
    margin-top: 5.3em;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 0px;
}

.imagencarousel img {
    position: relative;
    z-index: 0;
    width: 320px;
}

.imagencarousel h4 {
    position: absolute;
    top: 35%;
    bottom: 50%;
    left: 10%;
    right: 10%;
    font-size: 1em;
    z-index: 1;
    color: whitesmoke;
    -webkit-text-stroke: 1px black;

}

.logonav {
    height: 3em;
}


body {
    width: 100%;
}

.titulosindex {
    font-size: 1.5em;
    font-weight: 300;
    line-height: 1.2
}

.maps {
    display: inline-block;
    position: absolute;
    top: 1.5em;
}

.choferesProforma {
    width: 150px;
    height: 200px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.4);
}

.choferes_input{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    box-sizing: border-box;
}

.choferes img{
    width: 100%;
    height: 70%;
    object-fit: cover;
    object-position: center;
}

.contenedorChoferes{
    overflow: scroll;
    width: 530px;
    max-height: 550px;
}



.miembrosydireccion {
    position: relative;
    top: 10em;
}

.miembrosydireccion p {
    font-size: 0.7em;

}


@media (min-width: 375px) {

    .imagencarousel h4 {
        top: 30%;
        font-size: 1.2em;
    }

}
@media (min-width: 576px) {
    .titulosindex {
        font-size: 2em;
    }

    .imagencarousel h4 {
        top: 45%;
        z-index: 1;
    }

}


@media (min-width: 768px) {

    .imagencarousel h4 {
        top: 42%;
        font-size: 2em;
    }

}


@media (min-width: 992px) {

    .titulosindex {
        font-size: 3.5rem;
    }

    .miembrosydireccion p {
        font-size: 1em;

    }

}


@media (min-width: 1200px) {

    .imagencarousel h4 {
        top: 45%;
        font-size: 3em;
    }

}