<div class="col-sm-3">
<div style="height: fit-content !important" class="card choferesProforma p-1">

    <span style="font-weight: bold">Marca del Tractor</span><span>{{marca}}</span>
    <span style="font-weight: bold">Model del Tractor</span><span>{{modelo}}</span>
    <span style="font-weight: bold">Patente del Tractor</span><span>{{t_patente}}</span>
    <span style="font-weight: bold">Tipo de Acoplado</span><span>{{tipo_acoplado}}</span>
    <span style="font-weight: bold">Patente del Acoplado</span><span>{{a_patente}}</span>
    <span style="font-weight: bold">Chasis del acoplado</span><span>{{a_chasis}}</span>
    <div class="text-center">
        <input type="radio" name="equipoElegido" value="{{id}}">
    </div>
</div>
</div>