<tr class="text-center">
    <th scope="row ">{{id}}</th>
    <td>{{marca}}</td>
    <td>{{modelo}}</td>
    <td>{{t_patente}}</td>
    <td>{{tipo_acoplado}}</td>
    <td>{{a_patente}}</td>
    <td>{{a_chasis}}</td>
    <td style="background-color: rgba(0,0,0,.20)"><div class="text-center">
        <input type="radio" name="equipoElegido" value="{{id}}" required>
    </div></td>

</tr>
