<div class="col-md-4 mb-4">
    <div class="card">
        <div class="container p-2 pl-3 text-white" style="background: #E6831A">
            <h4 class="card-title">{{nombre_cliente}}</h4>
        </div>
        <div class="container p-3" style="background: #FCDEC3">
            <div style="text-align: left">
                <h5 class="card-text" style="float: left">ID: {{id}}</h5>
                <h5 class="card-text" style="margin-left: 40%">CUIT: {{cuit_cliente}}</h5>
                <hr>
                <p class="card-text">FECHA PEDIDO: {{fecha_pedido}}</p>
                <p class="card-text">EMAIL: {{email_cliente}}</p>
                <p class="card-text">TELEFONO: {{telefono_cliente}}</p>
                <p class="card-text">DIRECCION CLIENTE: {{direccion_cliente}}</p>
                <p class="card-text">CONTACTO 1: {{contacto1}}</p>
                <p class="card-text">CONTACTO 2: {{contacto2}}</p>
                <div style="text-align: center">
                        <hr>
                    <a onclick=" window.open('/pdfReporte?id={{id}}','_blank')" type="button" class="btn btn-secondary mt-4 mb-4" >Ver Reportes</a>
                    <a href="/estadisticas?id={{id}}" type="button" class="btn btn-block btn-primary mt-4 mb-4" >Ver estadisticas</a>
                    <a onclick=" window.open('/pdfProforma?id={{id}}','_blank')" type="button" class="btn btn-secondary mt-4 mb-4" >Ver Proforma</a>
                </div>
            </div>
        </div>
    </div>
</div>