<tr class="text-center">
    <th scope="row">{{id}}</th>
    <td>{{cuit_cliente}}</td>
    <td>{{fecha_pedido}}</td>
    <td>{{nombre_cliente}}</td>
    <td>{{email_cliente}}</td>
    <td>{{telefono_cliente}}</td>
    <td>{{direccion_cliente}}</td>
    <td>{{contacto1}}</td>
    <td>{{contacto2}}</td>

    {{#id_proforma}}
        <td>
            <a onclick=" window.open('/pdfProforma?id={{id}}','_blank')" type="button" class="btn btn-secondary" >Ver</a>
        </td>
        <td>
            <a onclick=" window.open('/pdfReporte?id={{id}}','_blank')" type="button" class="btn btn-secondary" >Ver</a>
        </td>
        <td>
            <a data-toggle="modal" data-target="#noEliminar{{id}}" type="button" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>
        </td>
    {{/id_proforma}}

    {{^id_proforma}}
        <td>
            <a href="/proforma?id={{id}}" class="btn btn- btn-outline-dark">Realizar</a>
        </td>
    <td><a class="btn btn-outline-dark"><i class="fas fa-times"></i></a></td>
    <td>
        <a data-toggle="modal" data-target="#inactivar{{id}}" type="button" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>
    </td>
    {{/id_proforma}}
</tr>
    <div class="modal fade" id="inactivar{{id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">¿Estas seguro de querer eliminar el pedido cuya id
                        es {{id}}?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/Pedido/eliminarPedido/id={{id}}" enctype="multipart/form-data" method="get" >
                    <button type="submit" class="btn btn-danger btn-lg btn-block">SI</button>
                    <button type="button" data-dismiss="modal" class="btn btn-dark btn-lg btn-block">NO</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

<div class="modal fade" id="noEliminar{{id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">No puede eliminarse un pedido con proforma</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
</div>