<tr class="text-center cambiarColorViaje">
    <th scope="row ">{{id}}</th>
    <td class="estadoViaje">{{estado}}</td>
    <td>{{origen}}</td>
    <td>{{destino}}</td>
    <td>{{fecha_carga}}</td>
    <td>{{fecha_llegada}}</td>
    <td>{{tiempo_carga}}</td>
    <td>{{tiempo_llegada}}</td>
    <td><a type="button" class="btn btn-success"><i class="fas fa-check"></i></a></td>
</tr>


