<div class="col-md-4">
    <div class="card choferes choferesProforma">
        <img src="{{imagen}}" alt="{{nombre}}">
        <div class="choferes_input">
        <span>{{nombre}}</span>
        <input type="radio" name="choferElegido" value="{{id}}" required>
        </div>
    </div>
</div>