<div class="col-md-4 mb-4">
    <div class="card choferes">
        <div class="container p-2 pl-3 text-white" style="background: #E6831A">
            <h4 class="card-title"> EQUIPO : {{id}}</h4>
        </div>
        <div class="container p-3" style="background: #fffefd">
                <h5 class="card-text">Estado: {{estado}}</h5>
                <hr>
                <h5> Tractor:</h5>
                    <p class="card-text">Modelo: {{modelo}}</p>
                    <p class="card-text">Patente: {{t_patente}}</p>
                    <p class="card-text">Kilometraje: {{kilometraje}}</p>
                    <form action="/ListaTractor/verTractorPorId/id={{id_tractor}}" enctype="multipart/form-data" method="get" >
                    <button type="submit" class="btn btn-light btn-outline-dark btn-block mb-3">Ver mas..</button>
                    </form>
                    <hr>
                    <h5> Acoplado: {{tipo_acoplado}}</h5>
                    <p class="card-text">Patente: {{a_patente}}</p>
                    <form action="/ListaAcoplado/verAcopladoPorId/id={{id_acoplado}}" enctype="multipart/form-data" method="get" >
                    <button type="submit" class="btn btn-light btn-outline-dark btn-block mb-3">Ver mas..</button>
                    </form>
                    <hr>
            {{#valorMecanico}}
                <div style="text-align: center">
                    <a data-toggle="modal" data-target="#modificar{{id}}" type="button" class="btn btn-secondary" >Modificar</a>
                    <a data-toggle="modal" data-target="#inactivar{{id}}" type="button" class="btn btn-danger" >Eliminar</a>
                </div>
            {{/valorMecanico}}
        </div>

    </div>
</div>

<div class="modal fade" id="inactivar{{id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">¿Estas seguro de querer inactivar el equipo cuya id es {{id}} ?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/listaEquipo/eliminarEquipo/id={{id}}&idAcoplado={{id_acoplado}}&idTractor={{id_tractor}}" enctype="multipart/form-data" method="get" >
                <button type="submit" class="btn btn-danger btn-lg btn-block">SI</button>
                <button type="button" data-dismiss="modal" class="btn btn-dark btn-lg btn-block">NO</button>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modificar{{id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modificar equipo de patente:{{patente}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/listaEquipo/modificarEquipo/idAcopladoAnterior={{id_acoplado}}&idTractorAnterior={{id_tractor}}" enctype="multipart/form-data" method="post" >
                        <label for="id">Id del equipo</label>
                        <textarea class="form-control" style="height: 36px" name="id" id="id" >{{id}}</textarea>
                        <div class="form-group">
                            <label for="acoplado">Asignar tipo de acoplado</label>
                            <select id="acoplado" name="acoplado" class="form-control">
                                <option value="{{id_acoplado}}"selected>acoplado: {{tipo_acoplado}}</option>
                                {{#acoplados}}
                                    <option value="{{id}}">Acoplado: {{tipo_acoplado}} - Patente: {{patente}} - Chasis:
                                        {{chasis}}</option>
                                {{/acoplados}}
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="tractor">Asignar tipo de tractor</label>
                            <select id="tractor" name="tractor" class="form-control">
                                <option value="{{id_tractor}}">TRACTOR: marca: {{marca}}, modelo: {{modelo}}, número de motor: {{nro_motor}}, kilometraje: {{kilometraje}}</option>
                                {{#tractores}}
                                    <option value="{{id}}">TRACTOR: marca: {{marca}}, modelo: {{modelo}}, número de motor: {{nro_motor}}, kilometraje: {{kilometraje}}</option>
                                {{/tractores}}
                            </select>
                        </div>

                        <button type="submit" class="btn btn-dark btn-lg btn-block">Asignar</button>
                    </form>
            </div>
        </div>
    </div>
</div>



