<div class="col-md-4 mb-4">
    <div class="card">
        <div class="container p-2  text-white" style="background: #E6831A">
            <h4 class="card-title text-center"> Calendario </h4>
        </div>
        <div class="container p-3" style="background: #FCDEC3">
            <div style="text-align: left">
                <form  method="POST" action="/ListaTractor/cambiarEstado/id_tractor={{id_tractor}}">
                <h5 class="card-text"> ID: {{id}}</h5>
                <h5 class="card-text">Fecha: {{fecha}}</h5>
                <hr>
                <p class="card-text mt-3 mb-1">Estado: {{estado}}</p>

                {{#valorMecanico}}
                    <br>
                    <br>
                    <a data-toggle="modal" data-target="#modificar{{id}}" type="button" class="btn btn-light btn-outline-dark btn-block mt-3">Ver servicio</a>
                {{/valorMecanico}}
                </form>
                {{#valorMecanico}}
                    <hr>
                    <div style="text-align: center" class="mt-3">
                        <a data-toggle="modal" data-target="#eliminar{{id}}" type="button" class="btn btn-danger">Eliminar</a>
                    </div>
                {{/valorMecanico}}
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="eliminar{{id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">¿Estas seguro de querer eliminar el calendario de servicio del dia {{fecha}} ?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/listaTractor/eliminarCalendario/id={{id}}&idTractor={{id_tractor}}" enctype="multipart/form-data" method="get" >
                <button type="submit" class="btn btn-danger btn-lg btn-block">SI</button>
                <button type="button" data-dismiss="modal" class="btn btn-dark btn-lg btn-block">NO</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modificar{{id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Datos del servicio del día: {{fecha}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>ID: {{id}}</p>
                <p>TIPO DE SERVICIO: {{tipo_service}}</p>
                <p>RESPUESTOS CAMBIADOS: {{respuestosCambiados}}</p>
                <p>KILOMETRAJE: {{kilometraje}}</p>
                <p>MECANICO: {{mecanico}}</p>
                <p>COSTO: {{costo}}</p>

                <div style="text-align: center" class="mt-3">
                    <a data-toggle="modal" data-target="#modificarEsto{{id}}" type="button" class="btn btn-secondary">Modificar</a>
                </div>
            </div>

        </div>

    </div>
</div>

<div class="modal fade" id="modificarEsto{{id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modificar el servicio del día: {{fecha}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/listaTractor/editarServiceCalendario/idTractor={{id_tractor}}" enctype="multipart/form-data" method="POST">
            <div class="form-group">
                <div class="modal-body">
                    <p for="id">ID del Servicio: {{id}}</p>
                    <input type="hidden" value="{{id}}" name="id" id="id">
                    <input type="hidden" value="{{id}}" name="id" id="id">
                    <label for="tipo_servicio" class="mt-3">Tipo de Service</label>
                    <select id="tipo_servicio" name="tipo_servicio" class="form-control mt-3" required>
                        <option value="{{tipo_service}}">{{tipo_service}}</option>
                        <option value="Interno">Interno</option>
                        <option value="Externo">Externo</option>
                    </select>
                    <label for="cambios" class="mt-3">Cambios y arreglos</label>
                    <textarea class="form-control" name="cambios" id="cambios" required>{{respuestosCambiados}}</textarea>
                    <label for="costo" class="mt-3">Ingrese costo</label>
                    <input type="number" class="form-control" id="costo" name="costo" value="{{costo}}" required>
                    <label for="kilometro" class="mt-3">Ingrese kilometros realizados</label>
                    <input type="number" class="form-control" id="kilometraje" name="kilometraje" value="{{kilometraje}}" required>
                    <label for="fecha" name="fecha" id="fecha" class="mt-2">Fecha del control</label>
                    <br>
                    <input type="date" value="{{fecha}}" name="fecha" id="fecha">

                    <button type="submit" class="btn btn-dark btn-lg btn-block mt-3">Enviar</button>

                </div>
            </div>
            </form>
        </div>

    </div>
</div>


