<tr class="text-center cambiarColor">
    <th scope="row">{{id}}</th>
    <td scope="col">{{marca}}</td>
    <td scope="col">{{modelo}}</td>
    <td scope="col">{{patente}}</td>
    <td scope="col">{{chasis}}</td>
    <td scope="col">{{kilometraje}}</td>
    <td scope="col">{{nro_motor}}</td>
    <td scope="col" class="estado">{{estado}}</td>
    <td>
        {{#valorMecanico}}
        <a data-toggle="modal" data-target="#calendario{{id}}" type="button" class="btn btn-outline-dark"><i
                class="fas fa-plus"></i></a>
        {{/valorMecanico}}
        {{#valorSupervisor}}
            <a data-toggle="modal" data-target="#calendario{{id}}" type="button" class="btn btn-outline-dark"><i
                    class="fas fa-plus"></i></a>
        {{/valorSupervisor}}
    </td>
    <td>
        {{#valorMecanico}}
            <div style="text-align: center">
                <a data-toggle="modal" data-target="#modificar{{id}}" style="width: 44%" type="button"
                   class="btn btn-secondary"><i class="fas fa-user-edit"></i></a>
                <a data-toggle="modal" data-target="#eliminar{{id}}" style="width: 44%" type="button"
                   class="btn btn-danger mostrarBotonAcopladoTractor"><i class="fas fa-trash-alt"></i></a>
            </div>
        {{/valorMecanico}}
    </td>
</tr>



<div class="modal fade" id="eliminar{{id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">¿Estas seguro de querer eliminar el Tractor cuya id
                    es {{id}} ?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/listaTractor/eliminarTractor/id={{id}}" enctype="multipart/form-data" method="get" >
                <button type="submit" class="btn btn-danger btn-lg btn-block">SI</button>
                <button type="button" data-dismiss="modal" class="btn btn-dark btn-lg btn-block">NO</button>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modificar{{id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modificar tractor de id : {{id}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/listaTractor/modificarTractor" enctype="multipart/form-data" method="post">
                    <input type="hidden" value="{{id}}" style="height: 36px" name="id" id="id">

                    <div class="form-group">
                        <label for="tractor">Marca</label>
                        <input type="text" class="form-control" id="marca" name=marca value="{{marca}}"
                               required>
                    </div>

                    <div class="form-group">
                        <label for="tractor">Modelo</label>
                        <input type="text" class="form-control" id="modelo" name=modelo value="{{modelo}}"
                               required>
                    </div>

                    <div class="form-group">
                        <label for="tractor">Número de motor</label>
                        <input type="number" class="form-control" id="nro_motor" name=nro_motor value="{{nro_motor}}"
                               required>
                    </div>

                    <div class="form-group">
                        <label for="tractor">Número de chasis</label>
                        <input type="text" class="form-control" id="chasis" name=chasis value="{{chasis}}"
                               required>
                    </div>

                    <div class="form-group">
                        <label for="tractor">Patente</label>
                        <input type="text" class="form-control" id="patente" name=patente value="{{patente}}"
                               required>
                    </div>

                    <button type="submit" class="btn btn-dark btn-lg btn-block">Modificar</button>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="calendario{{id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agregar calendario a tractor de id : {{id}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                {{#valorMecanico}}
                <form action="/listaTractor/registrarCalendarioTractor" enctype="multipart/form-data" method="post">
                    <input type="hidden" name="id" id="id" value="{{id}}">

                    <div class="form-group">
                        <label for="tractor">Día</label>
                        <input type="date" class="form-control" id="dia" name="dia"
                               required>
                    </div>
                    <button type="submit" class="btn btn-dark btn-lg btn-block">Agregar</button>
                </form>
            {{/valorMecanico}}
                <form action="/listaTractor/verCalendario">
                    <input type="hidden" value="{{id}}" name="id" id="id">
                    <button type="submit" class="btn btn-dark btn-lg btn-block mt-3">Ver calendario</button>
                </form>
            </div>
        </div>
    </div>
</div>

