<div class="col-md-4 pb-4">
    <div class="card choferes">
        <div class="card-body">
            <h5 class="card-title">{{nombre_cliente}}</h5>
            <div style="text-align: left">
                <p class="card-text" style="float: left">ID PEDIDO: {{id}}</p>
                <p class="card-text" style="margin-left: 50%">CUIT: {{cuit_cliente}}</p>
                <p class="card-text">FECHA PEDIDO: {{fecha_pedido}}</p>
                <p class="card-text">EMAIL: {{email_cliente}}</p>
                <p class="card-text">TELEFONO: {{telefono_cliente}}</p>
                <p class="card-text">DIRECCION CLIENTE: {{direccion_cliente}}</p>
                <p class="card-text">CONTACTO 1: {{contacto1}}</p>
                <p class="card-text">CONTACTO 2: {{contacto2}}</p>
                <div style="text-align: center">
                    {{#id_proforma}}
                        <a href="/pdfProforma?id={{id}}" type="button" class="btn btn-outline-dark" style="float:
                        right">Ver Proforma</a>
                    {{/id_proforma}}
                    {{^id_proforma}}
                        <a href="/proforma?id={{id}}" type="button" class="btn btn-outline-dark" style="float:
                        right">Realizar Proforma</a>
                    {{/id_proforma}}
                </div>
            </div>
        </div>
    </div>
</div>