<div class="col-md-4">
    <div class="card choferes">
        <div class="card-body">
            <h5 class="card-title">{{nombre}} {{apellido}}</h5>
            <div style="text-align: left">
                <p class="card-text" style="float: left">ID: {{id}}</p>
                <p class="card-text" style="margin-left: 50%">DNI: {{dni}}</p>
                <p class="card-text">EMAIL: {{email}}</p>
                <p class="card-text">USUARIO: {{usuario}}</p>
                <p class="card-text">FECHA NACIMIENTO: {{fecha_nacimiento}}</p>
                <p class="card-text">TIPO DE LICENCIA: {{tipo_licencia}}</p>
                <p class="card-text">ROL: {{rol}}</p>
                <div style="text-align: center">
                <a data-toggle="modal" data-target="#{{usuario}}" type="button" class="btn btn-outline-dark" style="float: left">Modificar</a>
                <a data-toggle="modal" data-target="#{{usuario}}eliminar" type="button" class="btn btn-outline-dark" style="float: right">Eliminar</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="{{usuario}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modificar el rol de {{usuario}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/usuario/modificarRolUsuario" enctype="multipart/form-data" method="post" >
                    <label for="id">Id del usuario a asignar</label>
                    <textarea class="form-control" style="height: 36px" name="id" id="id" >{{id}}</textarea>
                    <div class="form-group">
                        <label for="rol">Seleccionar el rol que desea asignar</label>
                        <select id="rol" name="rol" class="form-control">
                            <option value="0"selected>rol</option>
                            <option value="admin">Administrador</option>
                            <option value="chofer">Chofer</option>
                            <option value="mecanico">Mecanico</option>
                            <option value="supervisor">Supervisor</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-dark btn-lg btn-block">Asignar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="{{usuario}}eliminar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">¿Estas seguro de querer eliminar a {{nombre}} {{apellido}}?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/usuario/eliminarUsuario/id={{id}}" enctype="multipart/form-data" method="get" >
                    <button type="submit" class="btn btn-dark btn-lg btn-block">SI</button>
                    <button type="button" data-dismiss="modal" class="btn btn-dark btn-lg btn-block">NO</button>
                </form>
            </div>
        </div>
    </div>
</div>