<div class="col-md-4 mb-4">
    <div class="card">
        <div class="container p-2 pl-3 text-white" style="background: #E6831A">
            <h4 class="card-title">{{nombre}} {{apellido}}</h4>
        </div>
        <div  class="container p-3" style="background:#FCDEC3;text-align: left">
            <h5 class="card-text" style="float: left">ID: {{id}}</h5>
            <h5 class="card-text" style="margin-left: 50%">DNI: {{dni}}</h5>
            <hr>
            <p class="card-text">EMAIL: {{email}}</p>
            <p class="card-text">USUARIO: {{usuario}}</p>
            <p class="card-text">FECHA NACIMIENTO: {{fecha_nacimiento}}</p>
            <p class="card-text">TIPO DE LICENCIA: {{tipo_licencia}}</p>
            <p class="card-text">ROL: {{rol}}</p>
            {{#valorAdmin}}
                <hr>
                <div style="text-align: center">
                    <a data-toggle="modal" data-target="#modificar{{id}}" type="button" class="btn btn-secondary" >Modificar</a>
                    <a data-toggle="modal" data-target="#eliminar{{id}}" type="button" class="btn btn-danger" >Eliminar</a>
                </div>
            {{/valorAdmin}}
        </div>
    </div>
</div>

<div class="modal fade" id="modificar{{id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modificar el rol del usuario: {{usuario}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/usuario/modificarRolUsuario/id={{id}}" enctype="multipart/form-data" method="post" >
                    <div class="form-group">
                        <label for="rol">Seleccionar el rol que desea asignar</label>
                        <select id="rol" name="rol" class="form-control">
                            <option value="0"selected>rol</option>
                            <option value="admin">Administrador</option>
                            <option value="chofer">Chofer</option>
                            <option value="mecanico">Mecanico</option>
                            <option value="supervisor">Supervisor</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-dark btn-lg btn-block">Asignar Rol</button>
                </form>
                <form action="/usuario/modificarLicenciaUsuario/id={{id}}" enctype="multipart/form-data" method="post" >
                <div class="form-group">
                    <label for="licencia">Seleccionar la licencia</label>
                    <select id="licencia" name="licencia" class="form-control">
                        <option value="0"selected>Tipo de Licencia</option>
                        <option value="A">A - Motovehículos de 2, 3 o 4 ruedas</option>
                        <option value="PA">PA - Profesionales motovehículos de 2, 3 o 4 ruedas</option>
                        <option value="B">B - Automóviles particulares</option>
                        <option value="C">C - Carga</option>
                        <option value="D">D - Transporte de pasajeros</option>
                        <option value="E">E - Camiones y maquinaria especial no agrícola</option>
                        <option value="F">F - Vehículos adaptados</option>
                        <option value="G">G - Vehículos agrícolas</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-dark btn-lg btn-block">Asignar Licencia</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="eliminar{{id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">¿Estas seguro de querer eliminar a {{nombre}} {{apellido}}?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/usuario/eliminarUsuario/id={{id}}" enctype="multipart/form-data" method="get" >
                <button type="submit" class="btn btn-danger btn-lg btn-block">SI</button>
                <button type="button" data-dismiss="modal" class="btn btn-dark btn-lg btn-block">NO</button>
                </form>
            </div>
        </div>
    </div>
</div>