<tr class="text-center">
    <th scope="row">{{id}}</th>
    <td>{{cuit_cliente}}</td>
    <td>{{fecha_pedido}}</td>
    <td>{{nombre_cliente}}</td>
    <td>{{email_cliente}}</td>
    <td>{{telefono_cliente}}</td>
    <td>{{direccion_cliente}}</td>
    <td>{{contacto1}}</td>
    <td>{{contacto2}}</td>
        <td>
            <a onclick=" window.open('/pdfProforma?id={{id}}','_blank')" type="button" class="btn btn-secondary" >Ver
            </a>
        </td>
        <td>
            <a onclick=" window.open('/pdfReporte?id={{id}}','_blank')" type="button" class="btn btn-secondary" >Ver
            </a>
        </td>
        <td>
            <a href="/estadisticas?id={{id}}" class="btn btn-outline-info"><i class="fas fa-chart-pie"></i></a>
        </td>

</tr>



