<div class="col-md-4">
    <div class="card choferes">
        <img src="{{imagen}}" style="height: 10em" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{nombre}}</h5>
            <input type="radio" name="chofer">
        </div>
    </div>
</div>