<tr class="text-center cambiarColorViaje">
    <th scope="row ">{{id}}</th>
    <td class="estadoViaje">{{estado}}</td>
    <td>{{origen}}</td>
    <td>{{destino}}</td>
    <td>{{fecha_carga}}</td>
    <td>{{fecha_llegada}}</td>
    <td>{{tiempo_carga}}</td>
    <td>{{tiempo_llegada}}</td>
    <td><a href="/viajes/finalizarViaje/id={{id}}&idEquipo={{id_equipo}}" type="button" class="btn btn-outline-danger">Finalizar</a> </td>
</tr>


