<div class="col-md-4 mb-4">
    <div class="card choferes">
        <div class="card-body">
            <h5 class="card-title"> Patente : {{patente}}</h5>
            <div style="text-align: left">
                <p class="card-text" style="float: left">ID: {{id}}</p>
                <p class="card-text" style="margin-left: 50%">año fabricacion: {{año_fabricacion}}</p>
                <p class="card-text">Disponible: {{estado}}</p>
                <p class="card-text">Número de chasis: {{nro_chasis}}</p>
                <p class="card-text">Asignado al tractor: {{id_tractor}}</p>
                <p class="card-text">Asignado al acoplado: {{id_acoplado}}</p>

                <div style="text-align: center">
                    <a data-toggle="modal" data-target="#asignar{{id}}" type="button" class="btn btn-outline-dark" style="float: left">Asignar</a>
                    <a data-toggle="modal" data-target="#inactivar{{id}}" type="button" class="btn btn-outline-dark" style="float: right">Inactivar</a>
                    <a data-toggle="modal" data-target="#modificar{{id}}" type="button" class="btn btn-outline-dark" >Modificar</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="asignar{{id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Equipo de patente:{{patente}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/listaEquipo/asginarAcopladoTractor" enctype="multipart/form-data" method="post" >
                    <label for="id">Id del equipo</label>
                    <textarea class="form-control" style="height: 36px" name="id" id="id" >{{id}}</textarea>
                    <div class="form-group">
                        <label for="acoplado">Asignar tipo de acoplado</label>
                        <select id="acoplado" name="acoplado" class="form-control">
                            <option value="null"selected>Ninguno</option>
                                {{#acoplados}}
                                    <option value="{{id}}">acoplado: {{tipo_acoplado}}</option>
                                {{/acoplados}}
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="tractor">Asignar tipo de tractor</label>
                        <select id="tractor" name="tractor" class="form-control">
                            <option value="0" selected>Ninguno</option>
                            {{#tractores}}
                                <option value="{{id}}">TRACTOR: marca: {{marca}}, modelo: {{modelo}}, número de motor: {{nro_motor}}, kilometraje: {{kilometraje}}</option>
                            {{/tractores}}
                        </select>
                    </div>

                    <button type="submit" class="btn btn-dark btn-lg btn-block">Asignar</button>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="inactivar{{id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">¿Estas seguro de querer inactivar el equipo cuya patente es {{patente}} ?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/listaEquipo/eliminarEquipo/id={{id}}" enctype="multipart/form-data" method="get" >
                <button type="submit" class="btn btn-dark btn-lg btn-block">SI</button>
                <button type="button" data-dismiss="modal" class="btn btn-dark btn-lg btn-block">NO</button>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modificar{{id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modificar equipo de patente:{{patente}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/listaEquipo/modificarEquipo" enctype="multipart/form-data" method="post" >
                    <label for="id">Id del equipo</label>
                    <textarea class="form-control" style="height: 36px" name="id" id="id" >{{id}}</textarea>

                    <div class="form-group">
                        <label for="tractor">Estado del vehículo</label>
                        <select class="form-control" id="estadoEquipo" name="estadoEquipo">
                            <option value="Disponible">Disponible</option>
                            <option value="No disponible" >No disponible</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="tractor">Patente</label>
                        <input type="text" class="form-control" id="patente" name=patente value="{{patente}}"
                               placeholder="Patente" required>
                    </div>

                    <div class="form-group">
                        <label for="tractor">Número de chasis</label>
                        <input type="text" class="form-control" id="nro_chasis" name=nro_chasis value="{{nro_chasis}}"
                               placeholder="Número de chasis" required>
                    </div>

                    <button type="submit" class="btn btn-dark btn-lg btn-block">Modificar</button>
                </form>
            </div>
        </div>
    </div>
</div>



