<div id="pedidoModal" class="modal" style="display: block" role="dialog">
    <div  class="modal-dialog">
        <div  class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Pedido enviado</h4>
                <button onclick="document.getElementById('pedidoModal').style.display='none'" type="button" class="close">&times;</button>
            </div>
            <div class="modal-footer">
                <button onclick="document.getElementById('pedidoModal').style.display='none'" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">OK</button>
            </div>
        </div>
    </div>
</div>