<div class="d-flex p-2 justify-content-center">

    <div class="d-flex p-2 justify-content-center">
        <a href="/ListaTractor" class="btn btn-dark"> Ver tractores</a>
        <a href="/ListaAcoplado" class="btn btn-dark ml-2"> Ver acoplado</a>
        <button type="button" class="btn btn-dark  ml-2" data-toggle="modal" data-target="#modalRegistrarEquipo" >
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
        </svg> Agregar Equipo </button>
    </div>

</div>

<div class="modal fade" id="modalRegistrarEquipo">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agregar Equipos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/listaEquipo/registroEquipo" enctype="multipart/form-data" method="post" >
                    <div class="form-group">
                        <label for="acoplado">Asignar tipo de acoplado</label>
                        <select id="acoplado" name="acoplado" class="form-control">
                            <option value="" selected>Ninguno</option>
                            {{#acoplados}}
                                <option value="{{id}}">acoplado: {{tipo_acoplado}}</option>
                            {{/acoplados}}
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="tractor">Asignar tipo de tractor</label>
                        <select id="tractor" name="tractor" class="form-control">
                            <option value=" " selected>Ninguno</option>
                            {{#tractores}}
                                <option value="{{id}}">TRACTOR: marca: {{marca}}, modelo: {{modelo}}, número de motor: {{nro_motor}}, kilometraje: {{kilometraje}}</option>
                            {{/tractores}}
                        </select>
                    </div>

                    <button type="submit" class="btn btn-dark btn-lg btn-block">Asignar</button>
                </form>
            </div>
        </div>
    </div>
</div>